<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <strong>Eventpriv</strong>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%=link_to "Home", root_path, class:"navbar-item"%>

      <%if current_user%>
        <%=link_to "@#{current_user.username}", user_path(current_user), class:"navbar-item"%>
      <%end%>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <%if !current_user%>
            <p class="control">
              <%=link_to 'Sign up', '/signup', class: "button is-primary"%>
            </p>
            <p class="control">

              <%= link_to 'Sign in', '/login', class: "button is-light"%>
            </p>
          <%else%>
            <p class="control">
              <%= link_to 'Events', events_path, class: "button is-light"%>  
            </p>
            <p class="control">
              <%= link_to 'Sign out', '/logout', class: "button is-light" %> 
            </p>
            
          <%end%>
        </div>
      </div>
    </div>
  </div>
</nav>