<p id="notice"><%= notice %></p>

<p>
    <strong>Event:</strong>
    <%= @event.name%>
    <strong>Location:</strong>
    <%= @event.location%>
  <strong>Host:</strong>
  <%= lookup_user_by_id(@event.host_id).username %>
</p>

<strong>Attendees:</strong>
<% @event.attendees.uniq.each do |attendee| %>
  <li><%= attendee.username %></li>
<% end %>

<%= link_to 'Attend', attend_event_path %>

<%= link_to 'Back', events_path %>
