<!DOCTYPE html>
<html>
  <head>
    <title>Eventpriv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </head>

  <body>
    <%if notice%>
      <%= notice %>
    <%end%>
    <%= render 'home/header'%>
    <section class="section">
      <div class="container">
        <%= yield%>
      </div>
    </section>
  </body>
</html>
